In [1]:
arr <- c("helo",4,9,"Mani")

In [6]:
print(arr)
x <- list(2,3,4)

[1] "helo" "4"    "9"    "Mani"


# R Comments

In [17]:
if(FALSE){
    "This is 
multi line comments in R 
Program,ming language"
}
mystr<-"Hello R"
mystr

[1] "Hello R"

In [18]:
vect<- c("red",'Blue',"Black",'red','Blue')
lst <- list(34,56,78)
arr <- array(c(2,3,4,5,5,345),dim=c(2,1,3))
mat<-matrix(c('1','b','c','d','e','f','g','r'),nrow=2,ncol=4,byrow=TRUE)
factrs <- factor(vect)
df<- data.frame(
     gender=c("Male","Female"),
     married=c(1,2,3,3),
     age=c(23,45,76,90)
)

print(vect)
print(lst)
print(arr)
print(mat)
print(factrs)
print(nlevels(factrs))
print(df)
print(ls())
ls(pattern="f")
rm(df)
print(ls())
rm(list=ls())
print(ls())

[1] "red"   "Blue"  "Black" "red"   "Blue"
[[1]]
[1] 34

[[2]]
[1] 56

[[3]]
[1] 78

, , 1

     [,1]
[1,]    2
[2,]    3

, , 2

     [,1]
[1,]    4
[2,]    5

, , 3

     [,1]
[1,]    5
[2,]  345

     [,1] [,2] [,3] [,4]
[1,] "1"  "b"  "c"  "d"
[2,] "e"  "f"  "g"  "r"
[1] red   Blue  Black red   Blue
Levels: Black Blue red
[1] 3
  gender married age
1   Male       1  23
2 Female       2  45
3   Male       3  76
4 Female       3  90
[1] "arr"    "df"     "factrs" "lst"    "mat"    "mystr"  "vect"

[1] "df"     "factrs"

[1] "arr"    "factrs" "lst"    "mat"    "mystr"  "vect"
character(0)

# Operators

In [21]:
v1 <- c(1,2,4,5.5)
v2 <- c(2,5,2,3)

print(v1%%v2)
print(v1%/%v2)
print(v1%*%v2)
print(v1^v2)
print(v1==v2)
print(v1!=v2)
print(v1<v2)
print(v1>v2)


v3 <<- 1:10
print(v3)
print(1%in%v3)

[1] 1.0 2.0 0.0 2.5
[1] 0 0 2 1
     [,1]
[1,] 36.5
[1]   1.000  32.000  16.000 166.375
[1] FALSE FALSE FALSE FALSE
[1] TRUE TRUE TRUE TRUE
[1]  TRUE  TRUE FALSE FALSE
[1] FALSE FALSE  TRUE  TRUE
 [1]  1  2  3  4  5  6  7  8  9 10
[1] TRUE

# Looping

In [26]:
rm(list=ls())
1:10 -> v1
for(i in v1){
    print(i)
}

1 ->> cnt
st <<- "Hello world"
repeat{
    print(st)
    cnt <- cnt+1
    if(cnt == 4)
      break
}
    
    
    while(cnt < 8){
        print(cnt)
        cnt <- cnt+1
    }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] "Hello world"
[1] "Hello world"
[1] "Hello world"
[1] 4
[1] 5
[1] 6
[1] 7

# Functions

In [28]:
print(seq(10:15))
print(mean(10:15))
print(sum(10:15))

new.function <- function(){
    for(i in 1:4)
        {
        print(i)
    }
}


new.function2 <- function(a=3,b=2){
    print(a^b)
}

new.function()
new.function2()
new.function2(7)

[1] 1 2 3 4 5 6
[1] 12.5
[1] 75
[1] 1
[1] 2
[1] 3
[1] 4
[1] 9
[1] 49