In [3]:
df <- data.frame("name"=c("maniram","amit","ravi"),"age"=c(20,34,56))

In [8]:
df$age
df$name
df$name[2]

[1] 20 34 56

[1] maniram amit    ravi
Levels: amit maniram ravi

[1] amit
Levels: amit maniram ravi

In [14]:
name <- c ("Amir","Ravi","Ankur","Shyam","Mohit")
age <- c(12,34,54,34,56)
child <- c(FALSE,TRUE,FALSE,TRUE,FALSE)

df1 <- data.frame(name,age,child,stringsAsFactors = FALSE)
df1

  name  age child
1 Amir  12  FALSE
2 Ravi  34   TRUE
3 Ankur 54  FALSE
4 Shyam 34   TRUE
5 Mohit 56  FALSE

In [15]:
df1[0]

1
2
3
4
5

In [16]:
str(df1)

'data.frame':	5 obs. of  3 variables:
 $ name : chr  "Amir" "Ravi" "Ankur" "Shyam" ...
 $ age  : num  12 34 54 34 56
 $ child: logi  FALSE TRUE FALSE TRUE FALSE

In [17]:
df1$child[3]

[1] FALSE