In [3]:
lst <- list('A','B',c(1,2,3,4),matrix(sample(1:15,12),nrow=3))

In [7]:
lst[3]
lst[4]
class(lst)

[[1]]
[1] 1 2 3 4

[[1]]
     [,1] [,2] [,3] [,4]
[1,]    6   12    5    2
[2,]    1    8    7    9
[3,]   14   13   15   11

[1] "list"

In [15]:
lst <- list("Maniram Yadav",22,"10/10/1996")
names(lst)<- c("Name","Age","DOb")
lst

$Name
[1] "Maniram Yadav"

$Age
[1] 22

$DOb
[1] "10/10/1996"

In [16]:
str(lst)

List of 3
 $ Name: chr "Maniram Yadav"
 $ Age : num 22
 $ DOb : chr "10/10/1996"