In [2]:

m <- matrix(sample(1:20,15),nrow=3,dimnames=list(c("R1","R2","R3"),c("C1","C2","C3","C4","C5")))
m

   C1 C2 C3 C4 C5
R1 11 17 13  9 20
R2  7 10  3  8  5
R3  2 16 19 14 18

In [7]:
colSums(m)
rowSums(m)
colSums(m[c(1,2),])
rowSums(m[,c(1,3)])

C1 C2 C3 C4 C5
20 43 35 31 43

R1 R2 R3
70 33 69

C1 C2 C3 C4 C5
18 27 16 17 25

R1 R2 R3
24 10 21

In [9]:
x <- c(346,230)
y <- c(649,110)
z <- c(146,239)
sm <- rbind(x,y,z)
colnames(sm) <- c("Col1","Col2")
rownames(sm) <- c("row1","row2","row3")
sm

     Col1 Col2
row1 346  230
row2 649  110
row3 146  239

In [10]:
sm/2

     Col1  Col2
row1 173.0 115.0
row2 324.5  55.0
row3  73.0 119.5

In [16]:
div = sm/2.87765
div

     Col1      Col2
row1 120.23700 79.92633
row2 225.53125 38.22564
row3  50.73584 83.05388

In [17]:
colSums(sm)

Col1 Col2
1141  579

In [18]:
sm2 <- matrix(sample(1:100,6),nrow=3)
sm2

     [,1] [,2]
[1,] 86   49
[2,]  4   56
[3,] 43   36

In [19]:
sutract = div-sm2
sutract

     Col1       Col2
row1  34.236999  30.92633
row2 221.531249 -17.77436
row3   7.735843  47.05388

In [20]:
mul = div * sm2
mul

     Col1      Col2
row1 10340.382 3916.390
row2   902.125 2140.636
row3  2181.641 2989.940